<script type="text/javascript">
  (function (w, d, s) {
    var imgs = d.querySelectorAll("img[data-src]:not([src])");
    var container = d.getElementsByClassName("postdata")[0];

    if (imgs && container) {
      var containerWidth = container.offsetWidth;
      imgs.forEach(function (img) {
        if (+img.getAttribute("width") > containerWidth) {
          img.style.height =
            (containerWidth * +img.getAttribute("height")) /
              +img.getAttribute("width") +
            "px";
        } else {
          img.style.height = +img.getAttribute("height") + "px";
        }
      });

      if ("IntersectionObserver" in w) {
        function handleIntersect(entry, observer) {
          entry.forEach((entry) => {
            if (entry.intersectionRatio > 0) {
              observer.unobserve(entry.target);
              loadImg(entry.target);
            }
          });
        }

        var observer = new IntersectionObserver(handleIntersect, {
          rootMargin: "0px",
          threshold: 0.01,
        });

        imgs.forEach(function (img) {
          observer.observe(img);
        });
      } else {
        w.addEventListener("load", function () {
          imgs.forEach(function (img) {
            loadImg(img);
          });
        });
      }

      function loadImg(img) {
        img.onload = function () {
          img.style.height = "";
        };

        img.setAttribute("src", img.getAttribute("data-src"));
      }
    }
    function socials() {
      var js,
        fjs = d.getElementsByTagName(s)[0],
        load = function (url, id) {
          if (d.getElementById(id)) {
            return;
          }
          js = d.createElement(s);
          js.src = url;
          js.id = id;
          fjs.parentNode.insertBefore(js, fjs);
        };
      load("//platform.twitter.com/widgets.js", "tweetjs");
    }

    function css(url) {
      var el = d.createElement("link");
      el.rel = "stylesheet";
      el.type = "text/css";
      el.href = url;
      d.getElementsByTagName("head")[0].appendChild(el);
    }

    function search() {
      var o = false;
      var s = d.querySelector(".search");
      var i = d.querySelector(".search input");
      d.querySelector(".search-link").addEventListener("click", function () {
        o = !o;
        if (o) {
          s.classList.remove("off");
          i.focus();
          var tmp = i.value;
          i.value = "";
          i.value = tmp;
        } else s.classList.add("off");
      });
    }

    w.addEventListener(
      "load",
      function () {
        css("/styles/prism.css");
        socials();
        search();
      },
      false
    );
  })(window, document, "script");
</script>
