<section role="presentation" class="presentation">
  <div class="container">
    <div class="me">
      <a href="/blog">
        <img src="/images/headshot.png" alt="Moi" class="headshot" />
      </a>
      <div class="name">Sébastien Ollivier</div>
      <div class="status">
        Développeur
        <a href="https://honore-gaming.com/" target="_blank">
          <span>@HonoreGaming</span>
        </a>
      </div>

      <a
        class="twitter-follow-button"
        href="https://twitter.com/SebastienOll"
        data-show-count="false"
        >Follow @SebastienOll</a
      >
    </div>
    <ul class="description">
      <li>
        Microsoft
        <a
          href="https://mvp.microsoft.com/en-us/mvp/S%C3%A9bastien%20Ollivier-5001163"
          target="_blank"
        >
          <span>MVP</span>
        </a>
        <span class="legend">(2015-2020)</span>
      </li>
      <li>
        <a
          href="https://www.editions-eni.fr/sebastien-ollivier"
          target="_blank"
        >
          Auteur <span>Angular</span> / <span>AngularJS</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/sebastieno/" target="_blank">
          Open source contributor
        </a>
      </li>
      <li>
        <a href="https://fr.slideshare.net/sebastieno" target="_blank">
          Speaker
        </a>
      </li>
      <li class="more-of-me"><a href="/">En savoir plus...</a></li>
    </ul>
  </div>
</section>
